        html {
            box-sizing: border-box;
            font-size: 62.5%;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        body {
            font-family: 'Lato', sans-serif;
            margin: 0;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d6f77+0,1b1e1a+59,28343b+100 */
            background: rgb(109, 111, 119);
            /* Old browsers */
            background: -moz-linear-gradient(top, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6d6f77', endColorstr='#28343b', GradientType=0);
            /* IE6-9 */
        }
        
        .site-header {
            padding: 20px 0 20px 0;
        }
        
        p {
            font-size: 2rem;
        }
        
        .contenedor {
            max-width: 1200px;
            margin: 0 auto;
        }
        
        a {
            font-size: 1rem;
            font-family: sans-serif;
        }
        
        .clearfix::after {
            content: '';
            clear: both;
            display: block;
        }
        
        img {
            max-width: 100%;
            display: block;
        }
        
        h1 {
            font-size: 4.2rem;
        }
        
        h2 {
            font-size: 3.6rem;
        }
        
        h3 {
            font-size: 3.0rem;
        }
        
        h4 {
            font-size: 2.8rem;
        }
        /**header**/
        
        .contenido-header {
            width: 100%;
            align-items: center;
        }
        
        .barra {
            display: block;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d6f77+0,1b1e1a+59,28343b+100 */
            background: rgb(109, 111, 119);
            /* Old browsers */
            background: -moz-linear-gradient(top, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(109, 111, 119, 1) 0%, rgba(27, 30, 26, 1) 59%, rgba(40, 52, 59, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6d6f77', endColorstr='#28343b', GradientType=0);
            /* IE6-9 */
            text-align: center;
        }
        
        @media (min-width: 768px) {
            .contenido-header {
                text-align: left;
            }
            .barra {
                display: flex;
                justify-content: space-between;
                max-width: 120rem;
                max-height: 10rem;
                padding: 1rem;
            }
        }
        
        .barra .navegacion {
            margin: 2rem 0 0 0;
        }
        
        .barra a {
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.8rem;
            margin: 0 0.5rem;
        }
        
        .barra a:hover {
            color: #ff0000;
        }
        
        .barra .whats {
            color: #00dd2d;
            display: flex;
            font-size: 2.3rem;
            font-weight: 700;
            margin-top: 0;
            align-items: center;
        }
        
        .portada {
            margin: -3rem 0;
        }
        
        header .portada {
            background: url(../img/portada3.jpg);
            background-position: center center;
            background-size: cover;
            align-items: center;
            height: 100%;
            /*100% tamaño de la ventana*/
            min-height: 60rem;
            /*tamaño munimo  de ventna px=600*/
        }
        /**SERVICIOS**/
        
        .contenido-servicios {
            background-color: rgba(255, 255, 255, .3);
            text-align: center;
            padding: 2rem;
        }
        
        .contenido-servicios h3 {}
        
        .contenido-servicios .servicios {
            display: flex;
            grid-template-columns: repeat(3, 50px);
            justify-content: center;
        }
        
        .servicio {
            padding: 6rem;
        }
        
        .servicio h3 {
            font-size: 2.5rem;
            font-family: 'Lato';
        }
        
        .articulos {}
        /**aRTICULOS**/
        
        .contenido-principal {
            margin-top: 2rem;
            text-align: center;
            border-style: groove;
        }
        
        .contenido-principal .articulos {
            display: flex;
            justify-content: space-between;
            grid-template-columns: repeat(3, 33.3%);
            background-color: white;
        }
        
        .articulo {
            padding: 1rem;
            border-color: seagreen;
        }