:root {
    --verdePrimario: #00b51a;
    --rojoPrimario: #ff3333;
    --naranja: #FF9933;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.site-header {
    padding: 20px 0 20px 0;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 4rem;
    color: var(--rojoPrimario);
}

h2 {
    font-family: 'Rototo Mono', monospace;
    font-size: 2rem;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

img {
    width: 100%;
}

.precio {
    color: #1100ff;
}

.boton {
    background-color: #00b51a;
    border: 2px solid #00B575;
    padding: 7px;
    transition: all .2s ease;
}

.boton:hover {
    background-color: #00B575;
    padding: 10px;
}


/**header**/

.barra {
    display: grid;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    padding: 0;
}

.contenido-header nav {
    display: grid;
    grid-template-rows: repeat(5, 1r);
    padding: 0;
}

nav a {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin: 2px;
    transition: all .3s ease;
    padding: 1.5rem;
}

.subrayado {
    border-bottom: wheat solid 1px;
}

;
nav a:hover {
    border: 2px solid #ffffff;
}

.whats {
    font-size: 1rem;
    color: var(--verdePrimario);
}

@media (min-width:992px) {
    .barra {
        display: grid;
        grid-template-columns: 25% 55% 20%;
    }
    .contenido-header nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    nav a {
        margin-right: 1rem;
        padding: 0;
        font-size: 2rem;
    }
    .whats {
        padding-top: 0.8rem;
    }
}

@media (min-width:768px) {
    .barra {
        padding-top: 1rem;
        font-size: 2.5rem;
    }
    nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .flotante {
        display: flex;
        max-width: 800px;
    }
}

.flotante {
    display: none;
    height: 10rem;
    text-align: center;
}


/**Servicios**/

.contenido-servicios {
    margin: 0 auto;
    text-align: center;
}

.contenido-servicios h1 {}

.contenido-servicios .foto img {
    max-width: 66.6%;
    max-height: 66.6%;
    align-items: baseline;
}


/**articulos*/

.contenido-principal {
    background-color: rgb(255, 255, 255);
    max-width: 95%;
    text-align: center;
    align-items: center;
    margin: 0;
}

.articulo {
    border: 4px solid #00B575;
    margin: 1rem;
    background-color: #353535;
}

.articulo img {
    padding: 0rem;
    height: 220px;
    width: 380px;
    background-color: white;
}

.usadas .articulo img {
    padding: -3rem;
}

.articulo a {
    color: white;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .articulos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0;
    }
}

.articulo p {
    font-family: 'Catamaran', sans-serif;
    color: var(--verdePrimario);
    font-weight: bolder;
}

.articulo p span {
    color: #009BB5;
}

.contenido-footer {
    text-align: center;
}


/**vermoto***/

.vista-vehiculo {
    display: block;
    align-items: center;
    text-align: center;
}

.detalle-vehiculo {
    background-color: rgba(22, 22, 22, .2);
    height: 46rem;
}

.descripcion {
    max-width: 300px;
    text-align: center;
    border: 1px #414141;
    border-radius: 1rem;
    margin: 2rem;
}

.descripcion p {}

.resalte-detalle {
    display: flex;
    justify-content: space-between;
    color: var(--rojoPrimario);
    padding: 0 1rem;
    text-transform: uppercase;
}

.resalte-detalle span {
    color: var(--verdePrimario);
    font-weight: bolder;
}

@media (min-width:768px) {
    .vista-vehiculo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.myCarousel {
    height: 20rem;
}


/**Contacto **/

legend {
    font-size: 2.4rem;
    color: #333333;
    margin: 2rem 0 0 0;
}

.contenido-contacto {
    padding-top: -1;
    background-color: rgba(236, 64, 33, 0.274);
}

label {
    display: block;
    font-size: 2rem;
    padding: 0.7rem 0 0.7rem 0;
    text-align: left;
    color: #00b51a;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

input:not([type="submit"]),
textarea {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: rgba(22, 5, 2, 0.274);
    border-radius: 1rem;
    border: none;
}


/**Header*/

footer {
    background-color: rgb(41, 40, 40);
    margin: 0;
    padding: 0;
}

.mas-datos p {
    color: #00b51a;
}

.mas-datos span {
    color: #ffffff;
}


/**whatsapp*/

#app-messenger,
#app-whatsapp {
    position: fixed;
    right: 24px;
    bottom: 20px;
    width: 60px;
    z-index: 1000;
    display: none;
}

#app-whatsapp {
    bottom: 25px;
    display: block;
}

#app-messenger i,
#app-whatsapp i {
    font-size: 63px;
}

#app-whatsapp i {
    color: #00b51a;
}

#app-messenger i {
    color: #0084ff;
}